<div class="header">
    <h1 class="Headername special">Anna Hempel</h1>
    <p>Architectural photography</p>
</div>

<div class="content">
    <div class="myContainer">
        <div class="pic1 pics">
            <img src="./assets/images/APic1.jpg" alt="Pic1">
            <p class="overlay">Striking architectural masterpiece, harmonizing sleek lines with intricate details, an epitome of contemporary design</p>
        </div>

        <div class="pic2 pics">
            <img src="./assets/images/APic2.jpg" alt="Pic2">
            <p class="overlay">Perched delicately at water's edge, a charming house finds solace by the serene shore.</p>
        </div>

        <div class="pic3 pics">
            <img src="./assets/images/APic3.jpg" alt="Pic3">
            <p class="overlay">Majestic tower reaching for the sky, adorned with glistening glass panels, a symbol of architectural prowess</p>
        </div>

        <div class="pic4 pics">
            <img src="./assets/images/APic4.jpg" alt="Pic4">
            <p class="overlay">Iconic structure standing tall, casting captivating shadows against the urban landscape, a beacon of modernity.</p>
        </div>

        <div class="pic5 pics">
            <img src="./assets/images/APic5.jpg" alt="Pic5">
            <p class="overlay">Majestic skyscrapers pierce the sky, a testament to human ambition and ingenuity</p>
        </div>

        <div class="pic6 pics">
            <img src="./assets/images/APic6.jpg" alt="Pic6">
            <p class="overlay">Magnificent high-rise, reflecting the changing hues of the sky, a captivating fusion of form and function.</p>
        </div>
    </div>
</div>
