<footer>
  <div class="container">
    <div>
      <hr class="hrStyle" />
      <div class="background">
        <div class="container-fluid">
          <div class="iconsS">
            <a href="https://www.instagram.com/">
              <i
                class="bi bi-instagram"
                style="font-size: 2rem; color: #674188"
              ></i
            ></a>
            <a href="https://www.facebook.com/">
              <i
                class="bi bi-facebook"
                style="font-size: 2rem; color: #674188"
              ></i
            ></a>
            <a href="https://www.linkedin.com/">
              <i
                class="bi bi-linkedin"
                style="font-size: 2rem; color: #674188"
              ></i
            ></a>
            <a href="https://www.youtube.com/">
              <i
                class="bi bi-youtube"
                style="font-size: 2rem; color: #674188"
              ></i
            ></a>
          </div>
        </div>
        <hr class="footerHr" />
        <div class="footerText">
          <div class="contactLink">
            <a class="contactLink" routerLink="/contact"><h3>Contact</h3></a>
          </div>

          <div class="container text-center address">
            <div class="row">
              <div class="col">
                <div class="main">
                  <h5>Main-Address:</h5>
                  <p>Vienna: MusterStreet-10-10</p>
                  <a href="#">homeoffice&#64;gmail.com</a>
                </div>
              </div>
              <div class="col">
                <div class="main">
                  <h5>Paris-Address:</h5>
                  <p>Paris: MusterStreet-10-10</p>
                  <a href="#">parisffice&#64;gmail.com</a>
                </div>
              </div>
              <div class="col">
                <div class="main">
                  <h5>Tokyo-Address:</h5>
                  <p>Vienna: MusterStreet-10-10</p>
                  <a href="#">tokyoffice&#64;gmail.com</a>
                </div>
              </div>
              <div class="col">
                <div class="main">
                  <h5>NewYork-Address:</h5>
                  <p>NewYork: MusterStreet-10-10</p>
                  <a href="#">newyorkoffice&#64;gmail.com</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container copy">
        <p>copyright &copy; Foto Factory</p>
    </div>
  </div>
</footer>
