<div class="container">
  <div>
    <h1 class="text-center">Our Customers</h1>
  </div>
  <div class="container-fluid p-4 text-center">
    <h4 class="p-4">WE LOVE TO WORK WITH OUR CLIENTS</h4>
    <h5>
      Our clients come from all walks of life, each with unique stories to tell.
    </h5>
    <h6 class="p-4">
      From families capturing precious moments to businesses looking to showcase
      their products, we work with a diverse range of individuals and
      organizations to capture their vision through our lens. Their trust in our
      artistic ability drives us to deliver outstanding results every time.
    </h6>

    <h4 class="p-4 text-center">Some of our clients:</h4>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-5 text-center p-4 g-4">
      <div class="col">
        <img
          class="shadow p-1 mb-5 bg-body-tertiary rounded"
          src="./assets/images/client2.png"
          alt=""
          width="70%"
        />
      </div>
      <div class="col">
        <img
          class="shadow p-1 mb-5 bg-body-tertiary rounded"
          src="./assets/images/client3.png"
          alt=""
          width="70%"
        />
      </div>
      <div class="col">
        <img
          class="shadow p-1 mb-5 bg-body-tertiary rounded"
          src="./assets/images/client4.png"
          alt=""
          width="70%"
        />
      </div>
      <div class="col">
        <img
          class="shadow p-1 mb-5 bg-body-tertiary rounded"
          src="./assets/images/client5.png"
          alt=""
          width="70%"
        />
      </div>
      <div class="col">
        <img
          class="shadow p-1 mb-5 bg-body-tertiary rounded"
          src="./assets/images/client6.png"
          alt=""
          width="70%"
        />
      </div>
    </div>
  </div>
</div>
<app-testimonials></app-testimonials>
