<div class="container">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <div class="logo">
        <a routerLink=""
          ><img src="assets/images/fLogoT.png" width="400px" alt=""
        /></a>
      </div>
      <button
        class="navbar-toggler text-black"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse ms-5 text-center" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink=""
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/nouri">Blog</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/awards">Awards</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/clients">Clients</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Portfolio
            </a>
            <ul class="dropdown-menu dropMenu text-center border border-0  border-end border-start w-25 test">
              <li class="dropMenu dropdown-item"><a routerLink="/anna">Anna</a></li>
              <li><hr class="dropdown-divider"></li>
              <li class="dropMenu  dropdown-item"><a routerLink="/edin">Edin</a></li>
              <li><hr class="dropdown-divider"></li>
              <li class="dropMenu  dropdown-item"><a routerLink="/elvyra">Elvyra</a></li>
              <li><hr class="dropdown-divider"></li>
              <li class="dropMenu  dropdown-item"><a routerLink="/miroslav">Miroslav</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div class="p-1 mb-3"><hr class="hrStyle" /></div>
