<div class="container-fluid p-4 text-center">
  <h1 class="p-4">MIAMI VICE</h1>
  <h4 class="p-4 text-uppercase">The image of power in pictures</h4>
  <div class="container">
    <h6>
      Hypercars Photography: Capturing the Essence of High-Performance
      Automotive Art. In the realm of automotive photography, there exists a
      particularly captivating niche: Hypercars. These high-performance vehicles
      are not only technological marvels but also aesthetic icons of speed,
      luxury, and innovation. Photographers specializing in hypercars master the
      art of capturing the essence of these breathtaking machines, showcasing
      their sleek lines, aggressive stances, and cutting-edge design features.
      Through skilled composition, lighting techniques, and attention to detail,
      hypercar photographers create images that not only depict the raw power
      and performance of these vehicles but also evoke a sense of awe and
      admiration. Each photograph becomes a celebration of automotive
      engineering excellence, inviting viewers into the exhilarating world of
      hypercars.
    </h6>
  </div>
</div>

<div class="container-fluid p-4 d-flex justify-content-center">
  <div class="row">
    <div class="col-lg-6">
      <div class="card mb-4" style="max-width: 40rem">
        <img
          src="./assets/images/M_Ferrari.jpg"
          class="card-img-top wide-image"
          alt="..."
        />
      </div>
      <div class="card mb-4" style="max-width: 30rem">
        <img
          src="./assets/images/M_Ferrari2.jpg"
          class="card-img-top wide-image"
          alt="..."
        />
      </div>
      <div class="card mb-4" style="max-width: 40rem">
        <img
          src="./assets/images/M_GT2.jpg"
          class="card-img-top wide-image"
          alt="..."
        />
      </div>
      <div class="card mb-4" style="max-width: 35rem">
        <img
          src="./assets/images/M_testarossa2.jpg"
          class="card-img-top wide-image"
          alt="..."
        />
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card mb-4" style="max-width: 40rem">
        <img
          src="./assets/images/M_GT.jpg"
          class="card-img-top wide-image"
          alt="..."
        />
      </div>
      <div class="card mb-4" style="max-width: 30rem">
        <img
          src="./assets/images/M_testarossa.jpg"
          class="card-img-top wide-image"
          alt="..."
        />
      </div>
      <div class="card mb-4" style="max-width: 40rem">
        <img
          src="./assets/images/M_lambo.jpg"
          class="card-img-top wide-image"
          alt="..."
        />
      </div>
      <div class="card mb-4" style="max-width: 30rem">
        <img
          src="./assets/images/M_hyper.jpg"
          class="card-img-top wide-image"
          alt="..."
        />
      </div>
    </div>
  </div>
</div>
