


<h1 class="title">Jerusalem History</h1>
<div class="all">
<div class="cont">
  <div class="gallery-wrap">
    <div class="item item-1 rounded-1"></div>
    <div class="item item-2 rounded-1"></div>
    <div class="item item-3 rounded-1"></div>
  </div>
 </div>




<div class="top">
    <div class="ab-stand">
        <p>The arrival of our master Abraham, peace be upon him, in Palestine in 1900 B.C. 
            was a shining moment for this country. land. Prophet Abraham, the ancestor of the 
            Prophets, played an important role in spreading monotheism. in spreading the doctrine
            of monotheism, and the people of the region (the Palestinians) did not oppose our
            Master Abraham. As a result, Abraham did not leave the area, moved around comfortably, and
            finally died in Hebron.
            The sons of the Prophet Abraham (Ismail and Isaac) continued to follow him.
            and Isaac followed in his footsteps. Our master Ishmael, peace be upon him, went to Mecca, and
            Isaac remained in Palestine.Jacob , the son of Isaac, had twelve sons, known as the Israelites.
            He and his sons followed the Pharaohs in Egypt for centuries. Egypt for centuries.
        </p>
    </div>
</div>

<div class="whole">

    <div class="pic  ">
        <div class="main">

            <div class="text">
                <h1>Jerusalem during the reign of David:</h1>
                <p>David ascended the throne in 1004 BC, ushering in a new era of faith and monotheism in the Holy Land.
                    and monotheism.
                    David's reign lasted until 963 B.C. In 995 B.C. he moved the capital of Palestine to Jerusalem and
                    conquered most of Palestine except for the coastal areas. Jerusalem and conquered most of Palestine
                    except the coastal areas.
                </p>
            </div>

            <div >
                <img src="./assets/images/n-jerusalem7.jpg" class="rounded-1">
            </div>

        </div>

        <div class="main">

            <div class="text">
                <h1>Jerusalem during the reign of Solomon:</h1>

                <p>Then his son, the Prophet Solomon,
                    peace be upon him, came to power (963-923 BC) and revived Palestine and ushered in a period of
                    prosperity.
                    God Almighty gave Solomon the wind and the jinns and gave him a authority to which no one else had
                    access.
                    From the golden age of the Prophet David and Solomon , peace be upon them, to the Islamic conquest.
                    until the Islamic conquest, Palestine and Jerusalem were ruled under the banner of faith and
                    monotheism for 80 years.
                    and monotheism for 80 years.
                </p>
            </div>

            <div>
                <img src="./assets/images/n-jerusalem2.jpg" class="rounded-1">
            </div>

        </div>
        <div class="main">
            <div class="text">
                <h1>Kingdom of Judah:</h1>
                <p>With Solomon's death, his kingdom was divided into two separate states, most of which were hostile to
                    each other. Between 923 and 721 BC, the Kingdom of Israel was established north of Jerusalem.
                    Solomon's death, his kingdom was divided into two separate states, most of which were hostile to
                    each other.
                    Between 923 and 721 BC, the Kingdom of Israel was established north of Jerusalem.</p>

            </div>
            <div>
                <img src="./assets/images/n-template.jpg" class="rounded-1">
            </div>
        </div>

        <div class="main">
            <div class="text">
                <h1>End of the Kingdom of Judah:</h1>
                <p>This kingdom was defeated by the Egyptian Pharaoh Sheshenq and the Palestinians during the reign of
                    Gohram.
                    Meanwhile, the country was forced to pay tribute to the Assyrians and eventually fell into the hands
                    of the Babylonians,
                    led by Nebuchadnezzar, and Jerusalem and the Temple were destroyed.
                    In the meantime, 40,000 Jews were captured and the Kingdom of Judah was dissolved in 586 BC.</p>
            </div>
            <div>
                <img src="./assets/images/n-jerusalem10.jpg" class="rounded-1">
            </div>
        </div>

        <div class="main">
            <div class="text">
                <h1>Jerusalem during the Islamic period:</h1>
                <p>Omar bin Al-Khattab, may God be pleased with him, presented a written pledge to the people of
                    Jerusalem, and it was known as (the Omari Pledge). This is a proof that the servant of the nation,
                    Omar bin Al-Khattab, may God be pleased with him, secured lives, property and churches.
                    The people of Jerusalem agreed to peace on the condition of a personal guarantee from Omar bin
                    Al-Khattab.</p>
            </div>
            <div>
                <img src="./assets/images/n-jerusalem4.jpg" class="rounded-1">
            </div>
        </div>


        <div class="main">
            <div class="text">
                <h1>The Covenant of Omar:</h1>
                <p>In the name of God, the Most Gracious, the Most Merciful.
                    This is what Abdullah, Omar, the Commander of the Faithful, gave the people of Ilia, security.
                    He gave them security for themselves, their money, their churches, their crosses, their sick,
                    and the rest of their community.
                    Their churches will not be occupied or demolished, nor will their space, nor their cross, nor any of
                    their money be diminished. They will not be forced to follow their religion, and none of them will
                    be be harmed, and none of the Jews will live with them in Elijah.
                </p>
            </div>
            <div>
                <img src="./assets/images/n-jerusalem8.jpg" class="rounded-1">
            </div>
        </div>
        <div class="main">
            <div class="text">
                <h1>The Church of the Holy Sepulchre in Jerusalem:</h1>
                <p>The Church of the Holy Sepulchre is a church within the walls of the Old City of Jerusalem. The
                    church was built over Golgotha or Calvary, the site of the rock
                    where Jesus was believed to have been crucified. It is considered one of the holiest Christian and
                    the most important in the Christian world. According to Christian belief, the church contains the
                    site where Jesus was buried, known as the Holy Sepulchre.
                </p>
            </div>
            <div>
                <img src="./assets/images/n-jerusalem9.jpg" class="rounded-1">
            </div>
        </div>

        <div class="main">

            <div class="text">
                <h1>Crusades:</h1>
                <p>The Crusaders occupied Jerusalem in 1099 AD, an occupation that lasted 88 years and killed 70,000
                    people.
                    Muslims see the Crusades as colonial wars, bloody and exclusionary. Their Frankish leaders sought to
                    subjugate the faith of the simple in order to control the wealth and skills of the East. While
                    Europeans see the figures who took part in the Crusades as adventurous heroes surrounded by an aura
                    of holiness, Louis IX is considered a saint.
                    In France, Richard the Lionheart is seen as a typical crusader king, as is Frederick Barbarossa in
                    German culture.
                </p>
            </div>
            <div>
                <img src="./assets/images/n-jerusalem5.jpg" class="rounded-1">
            </div>
        </div>

        <div class="main">

            <div class="text">
                <h1>Colonization of Palestine by the British:</h1>
                <p>The British invasion of Palestine took place in 1918. This was followed by the shameful San Remo
                    Peace Conference on 25 April 1920.
                    to perpetuate British colonialism and give Britain an international tutelage or "mandate" over
                    Palestine.
                    Sir Herbert Samuel, a Zionist politician, was
                    was appointed to administer the British Mandate in Palestine.
                </p>
            </div>
            <div>
                <img src="./assets/images/n-jerusalem11.jpg" class="rounded-1">
            </div>

        </div>
        <div class="main">

            <div class="text">
                <h1>Colonization of Palestine by the British:</h1>
                <p>The first British census of Palestine in 1922 A.D. found that the population of the country had
                    reached 757,182 people, of whom 78% were Arab Muslims, 11% Christian Arabs and only 9.6% Jews.
                    Arabs was 11%, and the percentage of Jews was only 9.6%, as the Zionists claimed at the time. that
                    the land of Palestine was empty of people. And it had been waiting for the Jews to return to it for
                    for 2000 years.</p>
            </div>
            <div>
                <img src="./assets/images/n-jeruslem6.jpg" class="rounded-1">
            </div>

        </div>
        <div class="main">

            <div class="text">
                <h1>Proclamation of the Establishment of the State of Israel:</h1>
                <p>On 10 March 1948, the British House of Commons voted to end the British Mandate over Palestine.
                    The State of Israel was declared at four o'clock in the evening on 14 May 1948 in Tel Aviv, and
                    David David Ben-Gurion
                    was appointed as its first Prime Minister, and US President Harry Truman recognised the State of
                    Israel. of Israel.
                    On the same day. The next day, Great Britain announced the end of its mandate over Palestine, and
                    the establishment
                    of the State of Israel took effect.</p>
            </div>
            <div>
                <img src="./assets/images/n-tel-aviv.jpg" class="rounded-1">
            </div>

        </div>





    </div>
</div>
</div>


