<div class="container">
  <h1>Testimonials</h1>
    <div class="row row-cols-3">
        <figure class="snip1533">
            <figcaption>
              <blockquote>
                <p>I just wanted to share a quick note and let you know that you guys do a really good job. I'm glad I decided to work with you.</p>
              </blockquote>
              <h3>Paula Smith</h3>
              <h4>Google Inc.</h4>
            </figcaption>
          </figure>
          <figure class="snip1533">
            <figcaption>
              <blockquote>
                <p>“Thank you very much for the photos of the Brain Game, they are brilliant and just what we wanted. I am really pleased with how the new light design came across in the photos and you have captured the evening’s atmosphere wonderfully!”</p>
              </blockquote>
              <h3>Sarah Johnson</h3>
              <h4>Facebook</h4>
            </figcaption>
          </figure>
          <figure class="snip1533">
            <figcaption>
              <blockquote>
                <p>I can highly recommend FF for all your company's need in photography, we hired them for 3 events and the photos are outstanding, very personal and eye fetching. We surly will contract them again!</p>
              </blockquote>
              <h3>Bruce Wayne</h3>
              <h4>Instagram</h4>
            </figcaption>
          </figure>
          <figure class="snip1533">
            <figcaption>
              <blockquote>
                <p>"We use FF across several of our brands. They provide us with a professional service every time and there work helps us to market future events."</p>
              </blockquote>
              <h3>Marc Hennry</h3>
              <h4>Sony Pictures Austria</h4>
            </figcaption>
          </figure>

        
        
    </div>
</div>