
<div class="header-award">
<h1>We're multi award-winning</h1>
</div>

<div class="container ">
    
    <div class="cont-name ">
        <h4 class=""><a href="/anna">Anna</a> </h4>
        <h4 class=""><a href="/edin">Edin</a></h4>
        <h4 class=""><a href="/elvyra">Elvyra</a> </h4>
        <h4 class=""><a href="/miroslav">Miroslav</a> </h4>
        <h4 class=""><a href="/nouri">Nouri</a> </h4>
    </div>
   
    
<div class="cont ">
<div class="gallery">
    
    <div class="item item-1 rounded-circle"></div>
    <div class="item item-2 rounded-circle"></div>
    <div class="item item-3 rounded-circle"></div>
    <div class="item item-4 rounded-circle"></div>
    <div class="item item-5 rounded-circle"></div>
</div>

 
    
</div>
</div>



    <div class="under-mt row">

        <div class="head col-lg-6 col-md-12">

          <h1>We're multi award-winning</h1>
          <p>We know awards aren't the be-all and end-all.
             But we're proud of what we've achieved and the
             quality of work our team produces for our clients.
          </p>
           <p>  We've won awards across all of our departments, with some 
             key highlights including:
           </p>
        </div>

        <ul class="list col-lg-5 col-md-12 ms-3">
           <li>Best Large Social Agency </li>
           <li>Best Direct Response Campaign </li>
           <li>Best Integrated Paid Media Campaign </li>
           <li>Best Use of Facebook & Instagram Ads</li>
           <a href="/about"><button class="btn btn-md rounded-2 ">
                <span>Learn More about:</span>
            </button>
        </a>
        </ul>
    </div>

