<div class="container-fluid p-4 text-center">
  <h1 class="p-4 text-container">PORTFOLIO FASHION STYLES</h1>
  <h4 class="p-4 text-uppercase text-container">
    Contemporary fashion captured in images
  </h4>
  <div class="container p-2">
    <h6 class="text-container">
      My contemporary fashion images blend artistry with innovation, showcasing
      cutting-edge designs in a visually striking way. With a keen eye for
      detail and a passion for creativity, my work pushes boundaries and sets
      trends in the ever-evolving world of fashion photography. Each image is a
      reflection of my unique perspective, blending modern aesthetics with a
      touch of avant-garde flair.
    </h6>
  </div>
</div>

<div class="container-fluid p-4 d-flex justify-content-center">
  <div class="row justify-content-center">
    <!-- First column -->
    <div class="col-lg-4">
      <div class="image-container">
        <div class="card mb-4" style="max-width: 40rem">
          <img
            src="./assets/images/fashion1.jpg"
            class="card-img-top wide-image"
            alt="..."
            style="width: 100%"
          />
        </div>
      </div>
      <div class="image-container">
        <div class="card mb-4" style="max-width: 30rem">
          <img
            src="./assets/images/fashion3.jpg"
            class="card-img-top wide-image"
            alt="..."
            style="width: 100%"
          />
        </div>
      </div>
      <div class="image-container">
        <div class="card mb-4" style="max-width: 40rem">
          <img
            src="./assets/images/fashion6.jpg"
            class="card-img-top wide-image"
            alt="..."
            style="width: 100%"
          />
        </div>
      </div>
    </div>
    <!-- Second column -->
    <div class="col-lg-4">
      <div class="image-container">
        <div class="card mb-4" style="max-width: 40rem">
          <img
            src="./assets/images/fashion2.jpg"
            class="card-img-top wide-image"
            alt="..."
            style="width: 100%"
          />
        </div>
      </div>
      <div class="image-container">
        <div class="card mb-4" style="max-width: 40rem">
          <img
            src="./assets/images/fashion12.jpg"
            class="card-img-top wide-image"
            alt="..."
            style="width: 100%"
          />
        </div>
      </div>
      <div class="image-container">
        <div class="card mb-4" style="max-width: 40rem">
          <img
            src="./assets/images/fashion8.jpg"
            class="card-img-top wide-image"
            alt="..."
            style="width: 100%"
          />
        </div>
      </div>
    </div>
    <!-- Third column -->
    <div class="col-lg-4">
      <div class="image-container">
        <div class="card mb-4" style="max-width: 30rem">
          <img
            src="./assets/images/fashion5.jpg"
            class="card-img-top wide-image"
            alt="..."
            style="width: 100%"
          />
        </div>
      </div>
      <div class="image-container">
        <div class="card mb-4" style="max-width: 30rem">
          <img
            src="./assets/images/fashion7.jpg"
            class="card-img-top wide-image"
            alt="..."
            style="width: 100%"
          />
        </div>
      </div>
      <div class="image-container">
        <div class="card mb-4" style="max-width: 40rem">
          <img
            src="./assets/images/fashion4.jpg"
            class="card-img-top wide-image"
            alt="..."
            style="width: 100%"
          />
        </div>
      </div>
    </div>
  </div>
</div>
